In [2]:
import pandas as pd

In [11]:
linksdf = pd.read_csv('../../data/ml-latest-small/links.csv',index_col='movieId')
linksdf.head()

         imdbId   tmdbId
movieId
1        114709    862.0
2        113497   8844.0
3        113228  15602.0
4        114885  31357.0
5        113041  11862.0

In [8]:
linksdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   imdbId   9742 non-null   int64
 2   tmdbId   9734 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 228.5 KB

In [74]:
def get_imdbId(movieIds):
    if type(movieIds)==list:
        imdbIds = []
        for id_ in movieIds:
            imdbIds.append(linksdf.loc[id_,'imdbId'])
    elif type(movieIds)==int:
        imdbIds = linksdf.loc[movieIds,'imdbId']
    else:
        pass
    return imdbIds

In [75]:
testIds = [4,78,9,3,7,9,5,12]

get_imdbId(testIds)

[114885, 112744, 114576, 113228, 114319, 114576, 113041, 112896]

In [76]:
testId = 6
get_imdbId(testId)

113277

In [14]:
linksdf.loc[4,'imdbId']

114885

In [56]:
movies = pd.read_csv('../../data/ml-latest-small/movies.csv',usecols=['movieId','title'])
movieIds = list(movies.movieId)

In [62]:
movies.set_index('movieId',inplace=True)

In [63]:
movies.head()

                                      title
movieId
1                          Toy Story (1995)
2                            Jumanji (1995)
3                   Grumpier Old Men (1995)
4                  Waiting to Exhale (1995)
5        Father of the Bride Part II (1995)

In [39]:
import os,sys,inspect
current_dir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parent_dir = os.path.dirname(current_dir)
sys.path.insert(0, parent_dir) 
import test

In [65]:
recIds = test.get_recommends_from_model(3,5,10)

In [68]:
return_list = []
for id_ in recIds:
    return_list.append([id_,movies.loc[id_,'title']])
return_list

[[55908, 'Man from Earth, The (2007)'],
 [46530, 'Superman Returns (2006)'],
 [4438, 'Fist of Fury (Chinese Connection, The) (Jing wu men) (1972)'],
 [3928, 'Abbott and Costello Meet Frankenstein (1948)'],
 [5268, 'No Such Thing (2001)'],
 [5802, 'World of Henry Orient, The (1964)'],
 [2900, 'Monkey Shines (1988)'],
 [1940, "Gentleman's Agreement (1947)"],
 [5899, 'Zulu (1964)'],
 [47610, 'Illusionist, The (2006)']]

In [77]:
for i,movie in enumerate(return_list):
    id_ = movie[0]
    movie[0] = get_imdbId(id_)
return_list

[[756683, 'Man from Earth, The (2007)'],
 [348150, 'Superman Returns (2006)'],
 [68767, 'Fist of Fury (Chinese Connection, The) (Jing wu men) (1972)'],
 [40068, 'Abbott and Costello Meet Frankenstein (1948)'],
 [248190, 'No Such Thing (2001)'],
 [58756, 'World of Henry Orient, The (1964)'],
 [95652, 'Monkey Shines (1988)'],
 [39416, "Gentleman's Agreement (1947)"],
 [58777, 'Zulu (1964)'],
 [443543, 'Illusionist, The (2006)']]